@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

body {
  font-family: "Rubik";
  overflow: hidden;
  background-image: url("desert.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prose img{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.home-name{
  color: #fff;
  font-size: 72px;
  text-align: center;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.menustyle{
  display: inline-block;
  position: relative;
  font-size:36px;
  color: #fff;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  border: 3px solid rgba(255, 204, 0, 0);
  border-radius: 20px;
  transition: .3s ease-in-out;
}

.menustyle:hover{
  color: #fc0;
}

.menustyleactive{
  color: #fc0;
}